@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Roboto|Tinos');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "query";
@import "lightbox";
@import "popup";
#app{
	overflow: hidden;
}
.header{
	overflow: hidden;
	height: 350px;
	position: relative;
	.flower-top{
		position: absolute;
	    right: 0;
	    z-index: -1;
	}
	.flower-bottom{
		position: absolute;
	    bottom: 0;
	    z-index: -1;
	}
	.header-bg{
		width: 100%;
		height: inherit;
		position: absolute;
		z-index: -1;
	}
	.menu{
		left: 0;
		right: 0;
		top: 0;
		height: 60px;
		text-align: center;
		line-height: 60px;
		font-size: 100%;
		font-family: 'Roboto', serif;
		background-color: rgba(52,78,247,1);
 	@include filter-gradient(#ccc, #ccc, horizontal);
	@include background-image(linear-gradient(140deg, rgba(247,255,0,1) 40%, rgba(255,255,255,1) 50%, rgba(52,78,247,1) 50%));
		
		#email{
			margin-left: 4%;
		    color: #344ef7;
		    letter-spacing: 2px;
	        font-weight: bold;
		}
		#phone{
		    margin-left: 15%;
		    color: #ffff00;		    
		    letter-spacing: 3px;
		}
	}
	.header-text{
	    text-align: center;
	    font-size: 250%;
	    color: #fff;
		@include background(linear-gradient(45deg, #e63faa 33%,#3a45de 66%,#30eb60));
		display: block;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		  #logo{
	    	height: 150px;
	    	border-radius: 15px;
	    	box-shadow: 0 0 10px 0 #0b0a0a;
	    	margin-top: 25px;
	    }
		
	}
	button{
		margin: 0 auto;
		position: relative;
		text-align: center;
		display: block;
		height: 50px;
		font-size: 126%;
		overflow: hidden;
		@include background-image(linear-gradient(140deg, rgba(247,255,0,1) 40%, rgba(255,255,255,1) 50%, rgba(52,78,247,1) 50%));
		@include box-shadow(0px 0px 51px -5px rgba(82,17,134,1));
		@include border-radius(8px);
		&:hover{
			@include background-image(linear-gradient(140deg, rgba(200,250,0,1) 40%, rgba(255,255,255,1) 50%, rgba(52,78,150,1) 50%));
		}

		&:before{
		content: '';
		width: 100%;
		height: 6px;
		background: #fff;
		display: block;
		position: absolute;
		@include transform(rotate(140deg));
		@include transition(all .5s ease-in);
		left: -100%;

		}
		&:hover:before{
			left: 100%;
		}

		#s{
			color:#3a45de;
		}

		#p{
			color:#ffff00;
			color: #ffff00;
			padding-left: 29px;
		}
	}
}
	.text-bottom{
	    font-size: 122%;
	    font-weight: bold;
	    font-family: serif;
	    letter-spacing: 1.3px;
	    border-bottom: 3px solid #893081;
	    padding: 20px 0;
	    ol{
	    li:nth-child(1){
	    	color: #ae4cd3;
	    }
	     li:nth-child(2){
	    	color: #8229a5;
	    }
	     li:nth-child(3){
	    	color: #5a2e6c;
	    }
	    }
	}
.price{
	background: rgba(204, 208, 211, 0.36);
	padding: 5px 10px;
	border-radius: 10px;
}
	#select{	
		height: 34px;
		width: 240px;
		overflow: hidden;
		@include border-radius(15px);
		border: 1px solid #000;
		@include box-shadow(0 0 5px 0px #f550a7);
		margin: 20px;

	select{
			background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px; 
		   width: 268px;
		   outline: none;
		   text-align: center;
		   padding-left: 10px;
		   font-weight: bold;
	}
	}
	.items{
		padding: 15px 0 0px 18px;
		border: 1px solid #893081;
		margin-bottom: 20px;
		padding: 13px;
		@include border-radius(15px);
		.thumbnail{
		width: 160px;
	    float: left;
	    margin-right: 40px;
	    
	}
	}
	.footer{
		text-align: center;
		background: #5b4a9d;
		padding: 50px 0;
		border-top: 2px solid #000000;
		color: #fff;
		font-size: 24px;
		position: relative;
		.power{
			position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    font-size: 60%;
	}
	}
	.enter{
		font-size: 50%;
		margin-left: 38px;
		bottom: 0;
		position: absolute;
		left: 0;
	}

