@import  "incAdmin/theme";
@import "incAdmin/jquery-ui";
.modal-dialog{
	width: 90%;
}
.laradrop-thumbnail{
	word-break: break-all;
	text-align: center;
}
.imgIn{
	width: 160px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
}
.imgIn .delImg{
	position: absolute;
    color: #900000;
    font-size: 24px;
    right: 0;
}
.imgIn .delImg:hover{
	font-size: 28px;
	color: #ff0000;
	cursor: pointer;
}
.status .allItems{
		display: table;
		margin: 0 auto;
		list-style: none;
		width: 80%;
	}
	.status .allItems li {
		border-bottom: 1px dotted #99990a;
		padding: 5px 0;
		cursor: pointer;
		width: 100%;

	}
	.status .title{
		text-align: center;
	    border-bottom: 2px solid;
	    padding-bottom: 5px;
	    color: #99990a;
	}
	.status .pagination{
		margin: 0 auto;
	    display: table;
	    margin-top: 85px;
	}
	.status .delete{
		color: #e56969 ;
		padding: 3px;
		border-radius: 34%;
		background: rgba(169, 68, 20, 0.15);

	}
	.status .delete:hover{
		color: red;
		font-size: 105%;
	}
	.status .edit{
		color:#005500;
		padding: 3px;
		border-radius: 34%;
		background: rgba(0, 68, 20, 0.15);
	}
	.celect-cat{
		height: 30px;
		border: 2px solid #717072;
		outline: none;
		border-radius: 15px;
		padding: 2px 12px;
		margin-top: 9px;
	}
	.tansOfSettings{
		padding:  0 20px;
		#header{
			.settingsImg{
				height: 250px;
				width: 100%;
				border: 1px dotted;
			}
		}
	}
	.jsonUsers{
		table{
			margin: 0 auto;
			td, th{
				padding: 10px;
			}
			td{
				border-bottom: 1px solid #000;
			}
		}
	}
	.addImgSettings{
		position: relative;
		#headerimg{
			width: 100%;
			height: 350px;
		}		
		
	.logoSite{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			height: 150px;
		    border-radius: 15px;
		    box-shadow: 0 0 10px 0 #0b0a0a;
		    

		}
	}
.highlight{
	    border: 1px solid;
	    background-color: #ccc;
	    border-radius: 8px;
	    padding: 5px;
	    box-shadow: 0 0 4px 0 #ff50;
}
.modal-dialog {
    width:95%;
}
.logo{
	img{
		width: 300px;
	}
}
.edit-btn{
	margin: 60px 0;
}
